.header {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: #141C32;
    top: 0;
    left: 0;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;  
}
.header__lg {
    flex: 3;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left {
    display: flex;
    align-items: center;
    margin-left: 10%;

}

.header__left > img {
    object-fit: contain;
    height: 60px;
    margin-left: 5px;
}
.header__middle {
    flex: 3;
}
.header__right {
    flex: 1;
    display: flex;
    background-color: #F5F0ED;
    height: 60px;
    padding-left: 20px;
    padding: 0;
    align-items: center;
    justify-content: center;
}

ul.nav {
    display: table;
    margin: 0 auto;
 }
 ul.nav li {
    position: relative;
    list-style: none;
    height: 48px;
    display: inline-block;
    text-align: center;
 }
 

 ul.nav li a {
    display: inline-block;
    padding: 8px 1.6rem;
     text-decoration: none;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    letter-spacing: 1px;
    color: #fff; 
     -webkit-transition: color .2s ease-in-out;
     -moz-transition: color .2s ease-in-out;
     -o-transition: color .2s ease-in-out;
     -ms-transition: color .2s ease-in-out;
     transition: color .2s ease-in-out;
 }
 
 ul.nav li a:active { background-color: transparent !important; }
 #contact-mobile {
    display: none;
}
ul#nav li.current a { 
    color: #DC6451; 
}

 .contact_me {
     text-decoration: none;
     list-style: none;
 }
 .contact_me a {
    text-decoration: none;
    border: solid #141C32 1px;
    padding: 7px 23px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 20px;
    color: #141C32;
}

.dark .header__right {
    background-color: #141C32;
}
.dark .contact_me a {
    border: solid #F5F0ED 1px;
    color: #F5F0ED;
}

.mobileNav {
    display: none;
}


@media screen and (max-width: 1260px) {
    .header__left {
        margin-left: 5%;
    
    }    
    ul.nav li a {
        padding: 8px 1rem;
    }
}

@media screen and (max-width: 850px) {
    ul.nav {
        padding-left: 0;
     } 
     
     ul.nav li a {
        padding: 8px .5rem;
    }        
}

@media screen and (max-width: 760px) {
    .header__right {
        display: none;
    }
    .header{
        background-color: #F5F0ED;
    }
    .mobileNav {
        display: block;
    }
    .mobileIcon {
        color: #141C32 !important;
        margin-right: 20px !important;
    }
  .header__middle {
    position: absolute;
    top: 60px;
    left: 0;
    margin-left: 0;
    width:70%;
    transform: translateX(-130%) !important;
    text-align: center;
    z-index: 100;
  }

  ul.nav {
      width: 100%;
      padding: 0;
      display: flex;
      flex-direction: column;
    min-height: 48px;
 }
 ul.nav li a {
    height: 48px;
    display: block;
    width: 100%;
    color: #F5F0ED;
    text-align: center;
    background-color: #141C32;
 }
 #contact-mobile {
     display: block;
 }
 ul.nav li a:hover {
    background: #F5F0ED;
    color: #141C32;
  }
  .responsive {
    transition:transform 0.6s ease !important;     

  }
  .open {
    transform: translateX(-0%) !important;
  }

}


