footer {
    padding: 3rem 0 4rem 0;
    background-color: #111111;
    font-size: 14px;
    text-align: center;
    color: gray;
 }

footer img {
    object-fit: contain;
    height: 90px;
    margin: 1rem auto 2rem auto;
}
 .footer__row {
     display: flex;
     flex-direction: column;
 }
 .contact-details {
     flex: 1;
     margin-bottom: 1rem;
 }

 .social__link {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}
.social__link .link {
    margin: 0 10px;
    display: inline-block;
    font-size: 32px;
    color: gray;
    cursor: pointer;
}

.social__link .link {
    margin: 0 10px;
    display: inline-block;
    font-size: 32px;
    cursor: pointer;
}

.copyright {
    border-top: solid gray 1px;
    padding-top: 2rem;
    margin-top: 1rem;
    width: 100%;
    font-size: 11px;
}


@media screen and (max-width: 760px) {
    footer {
        padding: 2rem 0 3rem 0;
     }
    footer img {
        margin: 1rem auto 1.5rem auto;
    }
    .social__link {
        margin-bottom: 0;
    }    
 }
 



